img {
  padding: 1%;
  display: block !important;
  margin: 0 auto !important;
}


.gallery {

  img {
    margin: 0;
    padding: 1%;
  }

  &.gallery-100 {
    img {
      width: 97%;

    }
  }

  &.gallery-50 {
    img {
      width: 47%;
    }
  }
}
